#last {
    display: inline-block;
    text-align: center;
    width: 1503px;
    height: 1243px;
}

#summerSale {
    display: inline-block;
    margin-bottom: 32px;
    margin-left: center;
    color: #8E26C0;
    font-family: "JetBrains Mono";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#chance {
    background: #FFE8E8;
    display: block;
    margin-left: 12px;
    margin-bottom: 32px;
    left: 32px;
    top: 137px;
    width: 565px;
    height: 86px;
}

#dontMiss {
    display: inline-block;
    color: #F00;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 79px;
    margin-bottom: 24px;
    width: 446px;
    height: 38px;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

#take {
    display: block;
    margin-left: 12px;  
    left: 32px;
    top: 137px;
    width: 803px;
    height: 144px;
    border: 4px solid #0055FF;
    margin-bottom: 32px;
}

#advantage {
    display: inline-block;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    width: 730px;
    height: 99px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: #85647B;
    text-align: center;
    font-family: 'Lato';
    font-size: 36px;
    font-style: 33px;
    font-weight: 400;
}

#theEnd {
    display: block;
    margin-left: 12px;  
    left: 32px;
    top: 137px;
    width: 803px;
    height: 144px;
    background-color: #FFE8E8;
    margin-bottom: 32px;
}

#season {
    display: inline-block;
    color: #414651;
    text-align: center;
    margin-top: 24px;
    margin-left: 72px;
    margin-right: 40px;
    font-family: 'Lato';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

#underOne {
    color: #FF4405;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

#Hurry {
    display: block;
    padding: 24px 40px;
    width: 836px;
    height: 86px;
    left: 32px;
    top: 612px;
    border: 2px solid #3538CD;
    margin-bottom: 76px;
}

#opportunity {
    color: #0064CE;
    text-align: center;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    font-family: 'Lato';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img {
    display: block;
    width: 556px;
    height: 347px;
    left: 32px;
    top: 774px;
}